<!doctype html>
<html lang="en">
  <head>
    <head th:replace="/layout :: head">  </head>
    <title>Clientes</title>
  </head>
  <body> 
    <nav th:replace="/layout :: nav"></nav>
    <div class="container-fluid">
      <div class="row">
          <div class=" offset-md-2 col-sm-8">
              <div class="card">
                  <div class="card-header">
                      <div style="display: flex; justify-content: space-between; align-items: center;">
                          <span id="card_title">
                            <b>Clientes </b>
                          </span>
                           <div class="float-right">
                              <a href="http://localhost:8080/Cliente/new" class="btn btn-primary btn-sm float-right"  data-placement="left">
                                Cargar nuevo
                              </a>
                            </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-striped table-hover">
                              <thead class="thead">
                                  <tr>
                                    <th>Nombre completo</th>
                                    <th>Identificación</th>
                                    <th>Teléfono</th>
                                    <th>Acción</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <!-- Arreglo con clientes -->
                                <tr th:each="cliente: ${list}">
                                    <td th:text="${cliente.persona.nombre} + ' ' + ${cliente.persona.apellido}">
                                    </td>
                                    <td th:text="${cliente.persona.tipoIdentificacion.tipoIdentificacion} + ' ' + ${cliente.persona.identificacion}">
                                    </td>
                                    <td  th:text="${cliente.persona.telefono}">
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-success" th:href="@{edit/} + ${cliente.id}"> Editar</a>
                                        <a class="btn btn-sm btn-danger " href=""> Dar de baja</a>
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <footer th:replace="/layout :: footer"></footer>
  <footer th:fragment="footer" class="text-center fixed-bottom" style="background-color: #161D6F; color: aliceblue;">
    &copy;2021 Módulo Apóstoles UNaM
  </footer>

  </body>
</html>